.DS_Store
node_modules
log
upload
tmp/*
*.sublime*
views/sector.jade.bak
views/stock/related.jade.bak
public/assets_build/global.css
public/assets_build/global.js
public/static
public/generated
builtAssets/*
public/min/*
npm-debug.log
*.bak*
*.rdb
