- if (title == undefined){ var title = site_name; }else{ title += ' | '+site_name; }
- if (page_settings == undefined) var page_settings = {}
- var arg = current_path.split('/')
- var layout_class = []
- layout_class.push(arg[1])
doctype 5
html
  head
    title= title
    != renderStyles()
    != renderJs()

    - if(typeof context == 'string')
      != renderStyles(context)
      != renderJs(context)    
    - else if(typeof context == 'object')
      - for (var i = context.length - 1; i >= 0; i--)
        != renderStyles(context[i])
        != renderJs(context[i])
    script.
      App = {
        settings: !{JSON.stringify(page_settings)}
      }

  body(class="#{layout_class}")
    block content