extends ../layout

block content
  .container
    section.widget.login-widget
      header.text-align-center
        h4 Login to your account
      //- form.form-signin(action='/login', method='post')
      //-   h2.form-signin-heading Please sign in
      //-   input.form-control(type='text', name="login", placeholder='Email address', autofocus='')
      //-   input.form-control(type='password', name="password", placeholder='Password')
      //-   label.checkbox
      //-     input(type='checkbox', value='remember-me')
      //-     | Remember me
      //-   button.btn.btn-large.btn-primary.btn-block(type='submit') Sign in
