html,
body
  height 100%
  padding 0

a 
  color #00B7FF 

h1, h2, h3, h4, h5, h6
  margin 10px 0
  font-family inherit
  font-weight bold
  line-height 20px
  color inherit
  text-rendering optimizelegibility

.container
  padding 0 20px

.text-align-center
  text-align center

#wrap
  min-height 100%
  height auto !important
  height 100%
  margin 0 auto -60px
  padding 0 0 60px

#footer
  height 60px
  background-color #f5f5f5

.login
  padding-top 60px
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjEwJSIgY3k9IjAiIHI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9InJnYmEoMTEwLCAxMTAsIDEyMSwgMC45MSkiLz48c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0icmdiYSgxMTQsIDEzOSwgMTQ2LCAwLjkxKSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0icmdiYSgxMzcsIDE1MSwgMTI3LCAwLjkxKSIvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+"),url("/images/bgnoise_lg_dark.png");
  background-color rgba(110,110,121,0.91)
  background radial-gradient(farthest-side ellipse at 10% 0, rgba(110,110,121,0.91),rgba(114,139,146,0.91),rgba(137,151,127,0.91)),url("/images/bgnoise_lg_dark.png")
  background -webkit-radial-gradient(10% 0, farthest-side ellipse, rgba(110,110,121,0.91), rgba(114,139,146,0.91), rgba(137,151,127,0.91)),url("/images/bgnoise_lg_dark.png")
  background -moz-radial-gradient(10% 0, farthest-side ellipse, rgba(110,110,121,0.91), rgba(114,139,146,0.91), rgba(137,151,127,0.91)),url("/images/bgnoise_lg_dark.png")
  
  .login-widget
    width 374px
    padding-bottom 0

  .widget
    -webkit-border-radius 1px
    -moz-border-radius 1px
    -ms-border-radius 1px
    -o-border-radius 1px
    border-radius 1px
    padding 10px 12px
    color #f8f8f8
    background rgba(51,51,51,0.4)
    margin-bottom 30px
    position relative
    margin auto

  .widget > header
    position relative
    background none

  header
    margin 15px 0 25px 0
    h4
      font-family "Open Sans",sans-serif
      font-size 14px

